SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/rental_room_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
APP_RATE_LIMIT_ENABLED=true

APP_JWT_SECRET=change-this-secret-key-change-this-secret-key
APP_JWT_EXPIRATION_MS=86400000

VITE_API_BASE_URL=http://localhost:8080
